<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316831822822-m55raf7h40fifhrgbsore9e88tjau0dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316831822822-m55raf7h40fifhrgbsore9e88tjau0dh</string>
	<key>API_KEY</key>
	<string>AIzaSyAntgsy7NV0Hajf_i5LFRcYmPAf4BRoU64</string>
	<key>GCM_SENDER_ID</key>
	<string>316831822822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.propertyManagement</string>
	<key>PROJECT_ID</key>
	<string>property-manager-3e4ef</string>
	<key>STORAGE_BUCKET</key>
	<string>property-manager-3e4ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316831822822:ios:682b955e45acd021671c27</string>
</dict>
</plist>